/*CSS File for Recipes Screen. Focuses on Card-layouts and expanding features. Also attempts to recreate a more clean/smooth animation */

.recipe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.recipe-title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.recipe-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 100%;
}

.recipe-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 200px;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease, width 0.5s ease;
    position: relative;
    z-index: 1;
    opacity: 1;
}

.recipe-card h2 {
    margin: 0;
}

.recipe-card .recipe-details {
    margin-top: 20px;
}

.recipe-card.expanded {
    width: 80%;
    align-items: center;
    margin-bottom: 20px;
    z-index: 2;
}

.recipe-card.expanded ~ .recipe-card {
    opacity: 0;
}

.recipe-card:not(.expanded) {
    opacity: 1;
}

.recipe-container.expanded-card .recipe-card:not(.expanded) {
    opacity: 0;
}

.recipe-card:hover {
    transform: scale(1.05);
}

h3 {
    margin: 10px 0 5px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

ol {
    margin-left: 20px;
}