.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: linear-gradient(to bottom, #F7FEFD 0%, #78B0D0 50%, #949191 90%);
}

nav {
  height: 44px;
  background: #323232;
}

nav ul {
  display: flex;
  height: 50 px;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
.navItems {
  display:block;
  color:white;
  font-size:20px;
  font-weight: lighter;
  text-decoration: none;
  transition: 0.3s;
}

.appleNavigation {
  max-width:980px;
  margin: 0 auto;
}

.wrapper {
  height:100vh;
}

.mainContent{
  padding-top: 20px;
}