@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

/**
General CSS for app-wide including a basic gradient color change background, and a default font type.
 */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Oswald', sans-serif;
}



nav {
  height: 90px;
  background: #323232;
  position:sticky;
}

nav ul {
  display: flex;
  height: 90px;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
.navItems {
  display:block;
  color:white;
  font-size:20px;
  font-weight: lighter;
  text-decoration: none;
  transition: 0.3s;
}

.appleNavigation {
  max-width:980px;
  margin: 0 auto;
  position:sticky;
}

.wrapper {
  height:100vh;
}

.mainContent{
  padding-top: 10px;
  background: linear-gradient(
          to bottom,
          #F7FEFD 0%,     /* light teal */
          #CDE5F0 25%,    /* soft pastel blue */
          #78B0D0 50%,    /* sky blue */
          #A2B5C3 75%,    /* desaturated blue-gray */
          #949191 100%    /* soft warm gray */
  );
  min-height:100vh;
}

/* Review this later */

.image-container {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  list-style:none;
  display:flex;
  justify-content: center;
}

.image {
  width: 200px;
  height: 200px;
  float: left;
  display: inline-block;
  margin-right:10px;
}

